*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    border: 0ox;
}

.section1{
    display: flex;
    justify-content: space-around;
    background-image: url('./images/banner/banner3.png');
    width: 1600px;
    height: 800px;
    align-items: center;
}

.bg-description{
    text-align: right;
    color:white;
}
.bg{
    background-image: url("./images/banner/banner3.png");
}
.bg-description h1{
    font-weight: 800;
    font-size: 65px;
}

.bg-description p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-top: 24px;
}
.btn1 {
    height: 64px;
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    margin-top: 32px;
    border-radius: 5px;
    border: none;
}

/* section2 starts from here  */



.section2 h3{

    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section2 p{
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.items{
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    list-style: none;
}

.image-text{
    margin-right: 200px;
}

.image{
    margin-left: 80px;
}

.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}